/*绿色按钮*/
.green-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #42b983; /* 按钮主题色 */
  color: #ffffff !important;  /* 强制覆盖Markdown默认链接颜色 */
  text-decoration: none !important; /* 去掉下划线 */
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 10px 50px 10px 10px;
}

/* 绿色按钮鼠标悬浮效果 */
.green-btn:hover {
  background-color: #359469;
}

/*紫色按钮*/
.purple-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #9b59b6; /* 按钮主题色 */
  color: #ffffff !important;  /* 强制覆盖Markdown默认链接颜色 */
  text-decoration: none !important; /* 去掉下划线 */
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 10px 10px 10px 0;
}

/* 紫色按钮鼠标悬浮效果 */
.purple-btn:hover {
  background-color: #8e44ad;
}

/*feature标签*/
.feature-flag {
  display: inline-block;
  padding: 4px 4px;
  text-decoration: none !important;
  background-color: #cee3a3;
  color: #60683a !important;
  border-radius: 4px;
  font-family: ZCOOL QingKe HuangYou;
  font-size: 24px !important;
  font-weight: 500;
  margin: 10px 10px 10px 0;
}

/* 爱发电打赏组件 - 暗黑模式适配（全局生效） */
html.dark .afdian-donate-container {
  border-color: #333;
  background-color: #222;
}
html.dark .afdian-donate-container .donate-tip {
  color: #ddd;
}

/*示亡符*/
.dead {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid currentColor;
  margin: 0 1px;
  line-height: 1.2;
}

html.dark .dead {
  border-color: #ddd;
}

/* Vertical.vue暗黑模式适配 */
html.dark .vertical-layout-container {
  color: #E5E5E5;
  background-color: #2a2a2a;
  background-image: 
    linear-gradient(90deg, rgba(255,255,255,0.01) 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.01) 1px, transparent 1px);
}

/* 暗黑模式单页底色 */
html.dark .vertical-layout-container > * {
  background-color: #333330;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-inline-start: 1px solid rgba(255,255,255,0.05);
}

html.dark .vertical-layout-container blockquote {
  border-block-end: 2px solid rgba(241, 137, 189, 0.4);
  background-color: rgba(42, 42, 40, 0.6);
}

html.dark .vertical-layout-container table {
  border-color: rgba(180, 150, 100, 0.3);
  background-color: rgba(42, 42, 40, 0.8);
}
html.dark .vertical-layout-container th {
  background-color: rgba(180, 150, 100, 0.2);
  border-color: rgba(180, 150, 100, 0.3);
}
html.dark .vertical-layout-container td {
  border-color: rgba(180, 150, 100, 0.3);
}
html.dark .vertical-layout-container tr:hover td {
  background-color: rgba(180, 150, 100, 0.1);
}